body{
font-family: fredoka sans-serif;
background-color: #343333;
}
html{
  scroll-behavior: smooth;
}
#header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3e3e80;
    background-color: #fcfcfc;
    height: auto;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  z-index: 9999;
  top: 0;
  margin: 0em;
  padding: 0em;
  display: -webkit-box;
  display: -ms-flexbox;

}
#entete
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo 
{
    padding: 0 32px;
    height: 65px;
    width: 120px;
    object-fit: cover;
}
  
#menu-navigation{
    width: 90%;
}

#navigation {
    display: flex;
    margin-top: -1em;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.navigation-items{
    margin: auto 5em 0em auto;
}
#logo-portfolio{
    height: 65px;
    width: 10%;
}
#logo-portfolio:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
  }
  .navigation-name{
    margin: auto 0.5em auto 0.5em;
  }
  #navigation a{
    color: #E65063;
    text-decoration: none;
    font-size: 1em;
  }
  #navigation a:hover {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #5c5cb6;
    cursor: pointer;
  }
  #navigation  > .active{
    color: #3e3e80;
    font-weight: bold;
  }
  #icon-menu{
    visibility: hidden;
  }
 
  #parallax{
    height: 92vh;
    background: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  #description-effet-invisible{
      height: 250px;
      width: 50%;
      margin: 0 auto;
      background-color: white;
    opacity: -2;
  }
  #description-bienvenue{
      width: 50%;
      height: 300px;
      margin: 0 auto;
      padding-top: 15px;
      background-color: #fcfcff;
  }
  .style-description-bienvenue{
    text-align: center;
  }
  .style-description-bienvenue strong {
    color: #E65063;
  }
  .style-description-bienvenue a{
    text-decoration: none;
    color: #E65063;
  }
  .centrer-du-texte{
      text-align: center;
  }
  h2{
    color: #E65063;
}
  #description-bienvenue-contact{
      display: flex;
      justify-content: center;
  }
  .boutons{
      background-color: #E65063;
      border: none;
      display: block;
      text-align: center;
      cursor: pointer;
      box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
      font-weight: 700;
      padding: 17px 35px;
      font-size: 1.2;
      margin: 1em auto;
      position: relative;
      overflow: hidden;
      width: 160px;
      height: 55px;
  }
  .boutons a {
    text-decoration: none;
    color: white;
  }
  .boutons ::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 427%;
    width: 140%;
    background: #343333;
    transition: all .5s ease-in-out;
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
  #parcours{
    width: 100%;
    background: white;
  }
  #parcours-dev{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  #titre-parcours{
      text-align: center;
  }
  #description-parcours{
      display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto auto auto;
  }
  #image-description-parcours{
  text-align: center;

  color: #ffffff;
  width: 275px;
}

#image-description-parcours img{
  border: 3.5px solid #172064;
  border-radius: 50%;
  margin-top: 2em;
  margin-bottom: 2em;
}

#texte-description-parcours
{
  background-color: #ffffff;
  color: #172064;
  width: 675px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
}
.conteneur{
    box-shadow: 0 0 10px #E65063;
    background-color: #fcfcfc;
    margin:15px auto;
    padding: 1.5em;
    width: 85%;
    column-gap: 12px;
    height: 546px;
}
#mon-cv a{
text-decoration: none;}
#cv{
    color:#172064 ;
}
#voir-les-projet{
    color: #fcfcff;
    background-color:#172064;
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
    font-weight: 700;
    padding: 7px 25px;
    font-size: 1.2;
    margin: 1em auto;
}
#voir-les-projet a{
  text-decoration: none;
}
.espacement-bloc{
  display: flex;
  justify-content: space-between;
}
#les-projets{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.conteneur-box{
  box-shadow: 0 0 10px #cae8ff;
   border: 2px solid #E65063 ; 
  background-color: #fcfcfc;
  margin-bottom: 92px;
  padding: 1.5em;
  height: 530px;
}
.image-proje{
width: 100%;
height: 60%;
object-fit: cover;

}
.technologie-utilise{
  display: flex;
  list-style: none;
  justify-content: center;
  
}
.fab{
  padding: 5px;
}
.description-projet{
  text-align: center;
}
#conteneur-formulaire {
	display: flex;
	justify-content: center;
  background: #fcfcfc;
  width: 50%;
  margin: 0 auto;

}
.formulaire {
  margin-top: 30px;
	width: 90%;
}
.formulaire-question {
	display: flex;
	flex-direction: column;
}
.formulaire-question textarea{
  height: 92px;
}
.formulaire-question input {	
	height: 40px;
	margin-top: 4px;
}
.formulaire-question input:focus {
outline: none;
}

.titre-formulaire{
  color: #172064;
  font-size: 20px;
}

#conteneur-footer{
  background: #fcfcfc;
  margin-top: 25px;
}
#pied-page{
  display:  flex;
  align-items: center;
  justify-content: space-between;
}
#link-cv{
border:1px solid #172064;
}
#copy-right{
  display: flex;
  align-items: center;
  text-align: center;
}
.btn{
  width: 7%;
  height: 7%;
  background: #cae8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
.icone{
  width: 50px;
}